header {
    height: 295px;
    background: linear-gradient(134deg, #087990 0%, #055160 100%);
}
.main_title {
    text-align: center;
    padding-top: 68px;
}
.main_subtitle {
    text-align: center;
    color: #CFF4FC;
    font-size: 21px;
    margin-top: 14px;
}
